[submodule "libs/neui"]
	path = libs/neui
	url = https://github.com/defiantnerd/neui
[submodule "libs/sst-jucegui"]
	path = libs/sst-jucegui
	url = https://github.com/surge-synthesizer/sst-jucegui
[submodule "libs/neuiplusplus"]
	path = libs/neuiplusplus
	url = https://github.com/baconpaul/neuiplusplus
